# UNIT 1 : Python Fundamentals

# My first Python Program

In [1]:
#my first python program
print("Hello! Harshad Prajapati")

Hello! Harshad Prajapati

In [2]:
print("Hello Surat")

Hello Surat


# Datatypes in Python

In [3]:
a=10 #int
b=10.5 #float
c="Harshad" #string
d= True #boolean

In [4]:
A = 15
B = 15.3
C = "Prajapati"
D = False

In [5]:
A

15

In [6]:
a

10

In [7]:
b

10.5

In [8]:
B

15.3

In [9]:
c

'Harshad'

In [10]:
C

'Prajapati'

In [11]:
d

True

In [12]:
D

False

In [13]:
type(a)

int

In [14]:
type(b)

float

In [15]:
type(c)

str

In [16]:
type(d)

bool

In [17]:
n1 = 12
n2 = 15.4
n3 = True
n4 = "Hrsd"
n5 = 2525325255252552523523525
n6 = 45
n5 = 'A'

In [18]:
type(n5)

str

In [19]:
FirstName = "Harshad"
MiddleName = "J"
LastName = "Prajapati"
PhoneNo = 94083999
Xender = "Male"
State = "Gujarat"
Country = "India"
City = "Surat"
PinCode = 395004
Enrollment = 190090107053

In [20]:
print(type(PinCode))

<class 'int'>


# Arithmetic Operation in Python

In [21]:
n1 = 12
n2 = 24
n3 = 36
n4 = 48

In [22]:
n = n1+n2+n3+n4
n

120

In [23]:
n = n1*n2*n3*n4
n

497664

In [24]:
n = n4/n1
n

4.0

In [25]:
n = n1**2
n

144

In [26]:
n = 12//5
n

2

In [27]:
a = 4
b = 8
b = b - a
a = b + a
print(a,b)

8 4

# User Input in Python

In [29]:
x = int(input("Enter the first number : "))
y = int(input("Enter the second number : "))

Enter the first number : 12
Enter the second number : 15

In [30]:
z = x+y
z

27

# String in Python

In [33]:
#string Concatenation
st1 = "Harshad "
st2 = "Prajapati"
st = st1 + st2
st

'Harshad Prajapati'

In [34]:
print(len(st))

17

In [35]:
st[8:17]

'Prajapati'

# Tuple in Python

In [39]:
tuple1 = ("A" , 1 , "B" , 2 , "C" , 3 , "D") 
tuple1

('A', 1, 'B', 2, 'C', 3, 'D')

In [42]:
tuple1[1:] #tail

(1, 'B', 2, 'C', 3, 'D')

In [43]:
tuple1[-7] #head

'A'

In [44]:
type(tuple1)

tuple

In [45]:
tuple1[0:1]

('A',)

In [46]:
tuple2 = (4 , "E" , 5)
tuple3 = tuple1 + tuple2
tuple3

('A', 1, 'B', 2, 'C', 3, 'D', 4, 'E', 5)

In [47]:
del tuple1[0]

TypeError: 'tuple' object doesn't support item deletion

# List in Python

In [54]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list1

[1, 2, 3, 4, 5]

In [55]:
type(list1)

list

In [56]:
list3 = list1 + list2 
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
len(list3)

10

In [58]:
list3.remove(5)
list3

[1, 2, 3, 4, 6, 7, 8, 9, 10]

# Disctionary in Python

In [65]:
dict1 = {"Name" : "Harshad" , "Full Name" : "Harshad Prajapati" , "Branch" : "Computer" , "Enrollment No" : "190090107053"}
dict1

{'Name': 'Harshad',
 'Full Name': 'Harshad Prajapati',
 'Branch': 'Computer',
 'Enrollment No': '190090107053'}

In [66]:
len(dict1)

4

In [67]:
type(dict1)

dict

In [71]:
dict1["Name"]

'Harshad'

# Package Installation

In [ ]:
!pip install <pakage name> # if pakage available its gives otherwise error
!conda install <pakage name> # if you are using conda

# Conditional Statement in Python

# If Statement

In [84]:
n = int(input("Enter the number : "))
if n%2==0:
    print("Number is Even") 
else:
    print("Number is odd")

Enter the number : 16
Number is Even

# Loops in Python

In [88]:
for i in  range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10